@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
    font-family: Roboto;
    margin: 0px;
    box-sizing: border-box;
}
header {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: blue;
    height: 50px;
    border-left: 0px;
    border-right: 0px;
    font-size: 20px;
    font-weight: bold;
    top: 0;
    height: 70px;
    position: fixed;
}
.home-footer {
  background-color: black;
  color: white;
  bottom: 0;
}
#homeFooter1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.footer-social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid white;
}
.footer-social>i {
  color: white;
  font-size: 20px;
  margin: 10px;
  
}
hr {
  color: white;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;                
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
article {
    margin-top: 70px;
}

/*----------------------------------------------------------------------------------*/

.take-feedback {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 10%;
    padding: 20px;
    border: chartreuse 2px solid;
    border-radius: 20px;
}
td {
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-left: 20px;
}
/*---------------------------------------------------------------------------------------*/

.user-comments {
    box-sizing: border-box;
    min-height: 200px;
    margin: 20px;
    background-color: rgb(236, 232, 232);
    padding: 20px;
}
.user-comments>i {
    color: indigo;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
.user-comments>h4 {
    color: black;
    font-weight: bold;
    background-color: white;
}